#compass {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#compass .row {
    display: flex;
}
#compass .compass {
    width: 50px;
    height: 50px;
    background-image: url('compass.jpeg');
    background-size: cover;
    margin: 10px;
}
#next-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
#pause-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}
#pause-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}