html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #899064;
    color: #101820;
}
body {
    display: flex;
    flex-direction: column;
}
.footer {
    margin-top: auto;
}
.banner {
    background-color: #F1E6B2;
    padding: 20px;
    
}
.banner h1 {
    color: #802F2D;
}
h1{
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
}
.login-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #85bb65;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.login-btn:hover {
    background-color: #63765A;
}
/*displaying user info*/
#displayUserInfo { 
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
a 
{
color: #007377;
text-align: center;
text-decoration: none;
font-weight: bold;
transition: all 0.3s ease-in-out;
}
a:hover 
{
color: #19847f;
text-decoration: underline;
}
a:active 
{
color: #CA2E55;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.leaderboard {
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.leaderboard-entry {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.load-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #85bb65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.load-more-btn:hover {
    background-color: #63765A;
}
.bx-wrapper {
	margin-bottom: 20px;
}
#pager {
	text-align: center;
	font-size: 90%;
	color: blue;
}
#game-container {
    flex: 1;
    display: flex;
    position: relative;
}

#left-image-container {
    flex: 1;
    max-width: 80%; /* Adjust the max-width as needed */
    padding: 50px; /* Adjust the padding as needed */
    box-sizing: border-box;
}

#left-image {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: cover;
}

#right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#bottom-right-image {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border: 2px solid black;
}

#guess-button {
    margin-top: 10px;
    padding: 10px;
}