{% extends 'dummy_common.html' %}

{% block head %}
    <title>Sign Up</title>
{% endblock%}

{% block body %}
    <h1>Sign Up</h1>

    {% if form.username.errors or form.email.errors or form.password.errors %}
    <div class="errors">Invalid information.</div>
    {% endif %}

    <form action="/signup" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }} {{ form.username(size=20) }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email(size=20) }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password(size=20) }}
        </div>
        <button>Submit</button>
    </form>
{% endblock%}