{% extends 'common.html' %}

{% block head %}
    <title>NinerNav | Signed-In Page</title>
{% endblock %}

{% block body %}
    <div class="container flex-grow-1">
        <div class="row">
            <div class="col-md-2 stats-menu">
                <div class="btn-group-vertical">
                    <!-- Change Difficulty Button -->
                    <button type="button" class="btn btn-success mt-3 main-btn " id= "difficultyButton">Change Difficulty</button>
                    <div id="difficultySubButtons" style="display: none;">
                        <button type="button" class="btn btn-success sub-btn">Beginner</button>
                        <button type="button" class="btn btn-success sub-btn">Medium</button>
                        <button type="button" class="btn btn-success sub-btn">Expert</button>
                    </div>
    
                    <!-- Change Game Mode Button -->
                    <button type="button" class="btn btn-success mt-3 main-btn" id="gameButton">Change Game Mode</button>
                    <div id="gameModeSubButtons"  style="display: none;">
                        <button type="button" class="btn btn-success sub-btn">Regular</button>
                        <button id ="counter" type="button" class="btn btn-success sub-btn">Timed</button>
                        <button type="button" class="btn btn-success sub-btn">Sight Seeing</button>
                    </div>
    
                    <!-- View Leaderboard Button -->
                    <button type="button" class="btn btn-success mt-3" onclick="redirectToLeaderboard()">View LeaderBoard</button> 
                </div>
            </div>
            <div class="col-md-6 vid">
                <div class="slider-style embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbrYa4BXemA" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="footer text-center">
        <button type="button" class="btn btn-success btn-lg mb-3" id="go" onclick="redirectToGameScreen()">Start</button>
    </div>

    <script src="static/components/game_menu.js"></script>
{% endblock %}