{% extends 'common.html' %}

{% block head %}
    <title>NinerNav | Leader Board</title>
{% endblock%}

{% block body %}
    <div class="leaderboard-container">
        <div class="leaderboard">
            {% if scores|length %}
            {% for score in scores %}
            <div class="leaderboard-entry">{{loop.index}}. {{ score[0] }} ({{ score[1] }}) - Score: {{ score[2] }}</div>
            {% endfor %}
            {% else %}
            <div class="leaderboard-entry">No games have been played yet.</div>
            {% endif %}
        </div>

        <!-- Add more entries with the "Load More" button -->
        <!-- Change this part based on how we plan to load more entries (AJAX, JavaScript, etc) -->
        <button class="load-more-btn">Load More</button>
    </div>
{% endblock%}