{% extends 'common.html' %}

{% block head %}
    <title>Log In</title>
{% endblock%}

{% block body %}
    <h1>Log In</h1>

    {% if form.username.errors or form.password.errors %}
    <div class="errors">Invalid information.</div>
    {% endif %}

    <form action="/login" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }} {{ form.username(size=20) }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password(size=20) }}
        </div>
        <button>Submit</button>
    </form>
{% endblock%}