{% extends 'common.html' %}

{% block head %}
    <title>Sign Up</title>
{% endblock%}

{% block body %}
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Username</label>
            <input name="username" type="text">
        </div>
        <div>
            <label for="email">Email</label>
            <input name="email" type="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" type="password">
        </div>
        <button>Submit</button>
    </form>
    <script>
        /* Temporary debugging code */
        document.addEventListener("DOMContentLoaded", () => {
            let x = document.querySelector("form");
            x.username.value = 'd';
            x.email.value = 'd@example.com';
            x.password.value = 'd';
        });
    </script>
{% endblock%}