<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/gamestyle.css">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
</head>
<body>
    <a-scene vr-mode-ui="enabled: false">
        <a-sky id="sky" src="{{ image_path }}" rotation="0 0 0"></a-sky>
        <a-entity id="rig"
                  movement-controls
                  position="0 0 0">
            <a-entity camera
                      look-controls
                      wasd-controls>
            </a-entity>
        </a-entity>
    </a-scene>
    <div id="compass">
        <div class="row">
            <img src="/static/images/leftButton.png" height="100px" width="100px" button id="B" onclick="rotateCamera(-45)"></button>
            <img src="/static/images/rightButton.png" height="100px" width="100px" button id="B" onclick="rotateCamera(45)"></button>
        </div>
    </div>
    <script src="/static/components/gamescripts.js"></script>
</body>
</html>
